<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Five Routes</title>
</head>
<body>
    <h1>about</h1>
    <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
        <nav class="main-nav d-none d-lg-flex">
            <ul class="nav">
                <li>
                    <a class="active" href="index">
                        <span class="menu-text"> Home</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="about">
                        <span class="menu-text"> About</span>
                    </a>
                </li>
                <li>
                <a class="active" href="photos">
                    <span class="menu-text"> Photos</span>
                </a>
            </li>
            <li>
            <a class="active" href="records">
                <span class="menu-text"> Records</span>
            </a>
        </li>
        <li>
            <a class="active" href="contacts">
                <span class="menu-text"> contacts</span>
            </a>
        </li>
            </ul>
        </nav>
    </div>
</body>
</html>